<header
  class="relative w-full flex justify-between items-center py-4 px-6 lg:px-10 bg-transparent text-black shadow-lg shadow-black/10"
>
  <div class="lg:hidden">
    <app-button styles="border-none px-[0px] py-[0px]" (event)="open()">
      <app-menu styles="h-6 w-6" />
    </app-button>
  </div>
  <a
    [routerLink]="token ? '/user/dashboard' : '/'"
    class="navbar-brand text-3xl cursor-pointer font-medium tracking-widest"
    >STNaija</a
  >
  <nav
    class="fixed lg:static top-0 z-10 flex flex-col min-w-[300px]  h-screen lg:h-full justify-start  lg:flex-row lg:justify-center items-center transition-all duration-500 ease-linear {{
      isOpen ? 'left-0 bg-[#073d07] py-40 lg:py-0' : '-left-[100%] lg:left-0'
    }}"
  >
    <app-button
      styles="absolute top-4 right-0 mx-5 lg:hidden"
      (event)="close()"
    >
      <app-close styles="h-6 w-6" />
    </app-button>
    <a
      routerLink="/"
      class="text-[#ebeb0e] lg:text-[#117211] hover:lg:text-[#073d07] w-full lg:w-auto text-lg my-2 xl:mx-4 font-medium py-4 lg:py-0 px-6 rounded-md lg:mx-1 lg:text-xl hover:cursor-pointer"
      >{{ !token ? "Home" : "" }}</a
    >

    <a
      class="text-[#ebeb0e] lg:text-[#117211] hover:lg:text-[#073d07] w-full lg:w-auto text-lg my-2 xl:mx-4 font-medium py-4 lg:py-0 px-6 rounded-md lg:mx-1 lg:text-xl hover:cursor-pointer"
      [routerLink]="token ? '/user/label' : '/customer-story'"
      >{{ token ? "Shipping Label" : "Customer Story" }}</a
    >
    <a
      class="text-[#ebeb0e] lg:text-[#117211] hover:lg:text-[#073d07] w-full lg:w-auto text-lg my-2 xl:mx-4 font-medium py-4 lg:py-0 px-6 rounded-md lg:mx-1 lg:text-xl hover:cursor-pointer"
      [routerLink]="token ? '/user/courier/detection' : '/contacts'"
      >{{ token ? "Courier Detection" : "Contact" }}</a
    >
    <a
      class="text-[#ebeb0e] lg:text-[#117211] hover:lg:text-[#073d07] w-full lg:w-auto text-lg my-2 xl:mx-4 font-medium py-4 lg:py-0 px-6 rounded-md lg:mx-1 lg:text-xl hover:cursor-pointer"
      [routerLink]="token ? '/user/tracking' : '/about'"
      >{{ token ? "Tracking" : "About " }}</a
    >
  </nav>

  <div class="flex md:gap-x-3">
    @if(!token){
    <a routerLink="/auth/join">
      <app-button styles=""> Join Now </app-button></a
    >
    }

    <div class="flex items-center">
      @if(token){
      <app-button (event)="logOut()">Log Out</app-button>
      } @else{
      <a routerLink="/auth/login">
        <app-button styles="hidden md:block">Login</app-button>
      </a>
      }
    </div>
  </div>
</header>
