<main>
  <div class="h-[400px] border border-red-700"></div>
  <div class="lg:grid lg:grid-cols-2 items-center mt-5 mb-10">
    <div class="lg:px-10">
      <h1 class="text-2xl lg:text-4xl font-bold italic my-5">Our services</h1>
      <span class="text-lg my-5 leading-10"
        >STNaija offers shipping from any part of the world to Nigeria at a
        reduce rate, Export from Nigeria to any part of the world - Air
        Shipping, Ocean Shipping, Pick up from anywhere in the world, deliver to
        any location in Nigeria.</span
      >
    </div>
    <div class="flex justify-center my-5 lg:my-0">
      <img
        ngSrc="../../../assets/images/coolguy.jpg"
        sizes="1x,2x"
        alt="What we do"
        width="300"
        height="300"
      />
    </div>
  </div>

  <div
    class="flex flex-col-reverse lg:flex-row lg:gap-x-5 items-center mt-5 mb-10"
  >
    <div class="flex justify-center my-5 lg:my-0 lg:w-1/2">
      <img
        ngSrc="../../../assets/images/coolguy.jpg"
        sizes="1x,2x"
        alt="What we do"
        width="300"
        height="300"
      />
    </div>
    <div class="lg:px-10 lg:w-1/2">
      <h1 class="text-2xl lg:text-4xl font-bold italic my-5">
        Why Choosing us is your best option
      </h1>
      <span class="text-lg my-5 leading-10">
        At STNaija, We offers a wide range of services suitable for our
        Customer's need. These ranges from
        <ul>
          <li>✅ Best Pick-Up Service</li>
          <li>✅ Hassle-free and Reliable Export Service</li>
          <li>✅ Faster Shipping</li>
          <li>✅ Door-to-Door Delivery</li>
          <li>✅ 24/7 Live Support</li>
          <li>✅ Best Customer Review</li>
        </ul>
      </span>
    </div>
  </div>
</main>
